.clearfix{
	clear: both;
}
.list-brands a{
	text-decoration: none;
    color: #c69a39;
    display: block;
}
.search {
	background: white;
    border: 0px;
}


#menu_top{
	text-align: center;
}
#menu_top a {
	text-decoration: none;
	display: block;
	color: #696967;
}
#header {
	background: #edea6a; /*bảng màu đối lâp: css cho support: c3c4ae*/
}
#search_left {
	background: #EEEC80;
}

.banner {
	padding: 2px 0px;
}
